<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#">Principal</a></li>
				<li><a href="#">Cadastros</a></li>
				<li>Grade Curricular</li>
			</ol>
			<form class="form-horizontal">
				<div class="form-group"> 
					<label class="col-sm-2 control-label" for="campoCampus">Campus</label>
					<div class="col-sm-4">
						<select ng-model="campusSelecionado"
							ng-options="campi.id as campi.nome for campi in campus"
							ng-change="listarCursos()"
							id="campoCampus" class="form-control" required>
						</select>
					</div>
					<input type="hidden" ng-model="gradeCurricular.campus.endereco">
				</div>
				<div class="form-group"> 
					<label class="col-sm-2 control-label" for="campoCurso">Curso</label>
					<div class="col-sm-4">
						<select ng-model="gradeCurricular.curso.id"
							ng-options="curso.id as curso.nome for curso in cursos"
							ng-change="selecionarCurso()"
							id="campoCurso" class="form-control" required>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="campoAno">Ano</label>
					<div class="col-sm-8 form-inline">
						<input class="col-sm-2 form-control" id="campoAno" /> <label
							class="col-sm-1 control-label" for="campoSemestre">Semestre</label>
						<input class="col-sm-1 form-control" id="campoSemestre" />
					</div>
				</div>
				
				<uib-tabset class="col-md-10" active="active">
					<uib-tab index="$index + 1" ng-repeat="i in getNumber(number) track by $index" heading="{{$index+1}}">
						<br>
						Período {{$index+1}}
						<div class="form-group col-sm-offset-2 col-sm-8">
							<div class="col-sm-offset-3 col-sm-10">
								<button class="btn  btn-default" id="add-item-{{$index+1}}">Adicionar Disciplina</button>
								<div>
									<table id="periodo{{$index+1}}" class="table datatable table-stripped table-bordered">
										<thead>
											<th>Disciplina</th>
											<th>Carga hor&aacute;ria</th>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
				
				<div class="col-sm-4 col-sm-offset-2">
					<button class="btn btn-primary" type="submit">Adicionar</button>
					<a class="btn  btn-default" ng-href="#/cadastros/gradeCurricular">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
  // Initialize Datatables
  $(document).ready( function() {
    var table = $('.datatable').DataTable({
		"paging": false,
		"ordering": false,
		"searching": false,
		"info": false
    });
    $('#add-item-1').on('click', function() {
        $('#periodo1').row.add([
			'1',
			'2'
		]).draw(false);
    });
  });
</script>