<div class="modal fade bs-example-modal-lg" id="enderecoModal" tabindex="-1" role="dialog"
	aria-labelledby="enderecoModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span class="pficon pficon-close"></span>
				</button>
				<h4 class="modal-title" id="enderecoModalLabel">Endere&ccedil;os</h4>
			</div>
			<div class="modal-body">
				<form class="form-inline" id="formModalEndereco">
					<h1>Endere&ccedil;os</h1>
					<table
						class="datatable table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Logradouro</th>
								<th>CEP</th>
								<th>Bairro</th>
								<th>Estado</th>
								<th>UF</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="end in listaEndereco">
								<td>{{end.logradouro}}</a></td>
								<td>{{end.cep}}</td>
								<td>{{end.bairro}}</td>
								<td>{{end.cidade}}</td>
								<td>{{end.uf}}</td>
								<td width="10">
									<a class="btn btn-default" ng-click="selecionaEndereco(end)" data-dismiss="modal">
										<span class="icon glyphicon glyphicon-ok" />
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
  // Initialize Datatables
  $(document).ready( function() {
    $('.datatable').dataTable();
  });
</script>