<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#">Principal</a></li>
				<li><a href="#">Cadastros</a></li>
				<li>Aluno</li>
			</ol>
			<h1>Aluno</h1>
			<table class="datatable table table-striped table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="aluno in alunos">
						<td>{{aluno.nome}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
  // Initialize Datatables
  $(document).ready( function() {
    $('.datatable').dataTable();
  });
</script>
