<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#">Principal</a></li>
				<li><a href="#">Cadastros</a></li>
				<li>Curso</li>
				<li>Novo</li>
			</ol>
			<form class="form-horizontal" ng-submit="salvaCurso()">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="campoCampus">Campus</label>
					<div class="col-sm-4">
						<select ng-model="curso.campus"
							ng-options="campi.id as campi.nome for campi in campus"
							id="campoCampus" class="form-control" required>
						</select>
					</div>
					<input type="hidden" ng-model="curso.campus.endereco">
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-5">
						<input ng-model="curso.nome" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Periodicidade</label>
					<div class="col-sm-5 form-inline">
						<select ng-model="curso.periodicidade" class="col-sm-4 form-control">
							<option value="0">Anual</option>
							<option value="1">Semestral</option>
						</select>
						<label class="col-sm-2 control-label">Periodo</label>
						<input ng-model="curso.periodo" class="form-control">
					</div>
				</div>
				<div class="col-sm-4  col-sm-offset-2">
					<button class="btn btn-primary" type="submit">Adicionar</button>
					<a class="btn  btn-default" ng-href="#/cadastros/curso">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
  // Initialize Datatables
  $(document).ready( function() {
    $('.datatable').dataTable();
  });
</script>
