<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">Principal</a></li>
			<li><a href="#">Cadastros</a></li>
			<li>Endere&ccedil;o</li>
			<li>Novo</li>
		</ol>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="campoCep">CEP</label>
				<div class="col-sm-1">
					<input class="form-control" size="10" id="campoCep" placeholder="CEP">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="campoLogradouro">Logradouro</label>
				<div class="col-sm-6">
					<input class="form-control" id="campoLogradouro" placeholder="Logradouro">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="exampleInputPassword1">Bairro</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="exampleInputPassword1">Cidade</label>
				<div class="col-sm-4">
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="exampleInputPassword1">UF</label>
				<div class="col-sm-4">
					<select class="form-control">
						<option>AC</option>
						<option>AL</option>
						<option>AM</option>
						<option>AP</option>
						<option>BA</option>
						<option>CE</option>
						<option>DF</option>
						<option>ES</option>
						<option>GO</option>
						<option>MA</option>
						<option>MG</option>
						<option>MS</option>
						<option>MT</option>
						<option>PA</option>
						<option>PB</option>
						<option>PE</option>
						<option>PI</option>
						<option>PR</option>
						<option>RJ</option>
						<option>RN</option>
						<option>RO</option>
						<option>RR</option>
						<option>RS</option>
						<option>SC</option>
						<option>SE</option>
						<option>SP</option>
						<option>TO</option>
					</select>
				</div>
			</div>
			<div class="col-sm-4  col-sm-offset-2">
				<button class="btn btn-primary" type="submit">Adicionar</button>
				<a class="btn  btn-default" ng-href="#/cadastros/endereco">Cancelar</a>
			</div>
		</form>
	</div>
</div>