<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#">Principal</a></li>
				<li><a href="#">Cadastros</a></li>
				<li>Endere&ccedil;o</li>
				<li ng-hide="endereco.id">Novo</li>
				<li ng-show="endereco.id">Editar</li>
			</ol>
			<div ng-show="erro" class="toast-pf alert alert-danger">
			  <span class="pficon pficon-error-circle-o"></span>
			  {{erro.statusText}}
			</div>
			<form id="enderecoForm" class="form-horizontal"
				ng-submit="salvaEndereco()" novalidate>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="campoCep">CEP</label>
					<div class="col-sm-1">
						<input class="form-control" size="10" name="campoCep"
							ng-model="endereco.cep" placeholder="CEP">
	
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="campoLogradouro">Logradouro</label>
					<div class="col-sm-6">
						<input class="form-control" name="campoLogradouro"
							ng-model="endereco.logradouro" placeholder="Logradouro">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="campoBairro">Bairro</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="campoBairro"
							ng-model="endereco.bairro" placeholder="Bairro">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="campoCidade">Cidade</label>
					<div class="col-sm-4">
						<input type="test" class="form-control" id="campoCidade"
							ng-model="endereco.cidade" placeholder="Cidade">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="campoUf">UF</label>
					<div class="col-sm-4">
						<select ng-model="endereco.uf" id="campoUf" class="form-control">
							<option value="AC">AC</option>
							<option value="AL">AL</option>
							<option value="AM">AM</option>
							<option value="AP">AP</option>
							<option value="BA">BA</option>
							<option value="CE">CE</option>
							<option value="DF">DF</option>
							<option value="ES">ES</option>
							<option value="GO">GO</option>
							<option value="MA">MA</option>
							<option value="MG">MG</option>
							<option value="MS">MS</option>
							<option value="MT">MT</option>
							<option value="PA">PA</option>
							<option value="PB">PB</option>
							<option value="PE">PE</option>
							<option value="PI">PI</option>
							<option value="PR">PR</option>
							<option value="RJ">RJ</option>
							<option value="RN">RN</option>
							<option value="RO">RO</option>
							<option value="RR">RR</option>
							<option value="RS">RS</option>
							<option value="SC">SC</option>
							<option value="SE">SE</option>
							<option value="SP">SP</option>
							<option value="TO">TO</option>
						</select>
					</div>
				</div>
				<div class="col-sm-4  col-sm-offset-2">
					<button class="btn btn-primary" ng-hide="endereco.id" type="submit">Adicionar</button>
					<button class="btn btn-primary" ng-show="endereco.id" type="submit">Alterar</button>
					<a class="btn  btn-default" ng-href="#/cadastros/endereco">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</div>