<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#">Principal</a></li>
				<li><a href="#">Cadastros</a></li>
				<li>Professor</li>
			</ol>
			<h1>Professores</h1>
			<table class="datatable table table-striped table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="professor in professores">
						<td><a ng-href="#/cadastros/professor/{{professor.id}}">{{professor.nome}}</a></td>
						<td width="10"><a class="btn btn-default" ng-click="removeProfessor(professor)"><span class="icon glyphicon glyphicon-trash"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<a class="btn btn-primary" ng-href="#/cadastros/professor/create" role="button" >Adicionar Professor</a>
	</div>
</div>
<script>
  // Initialize Datatables
  $(document).ready( function() {
    $('.datatable').dataTable();
  });
</script>
